.wholeMenuSection {
    background-color: rgba(255, 255, 255, 0.15);
    width: 600px;
    max-width: 90%;
    margin: calc(5vh + 20px) auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.radio {
    display: none;
}

.radioDiv {
    flex: 1;
    font-size: 1.3rem;
    font-weight: 550;
    padding: 10px 0px;
}

.selectedRadioDiv {
    background-color: rgba(255, 255, 255, 0.25);
}

.selectedRadioDiv:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.selectedRadioDiv:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}   